<h1>Welcome ICRP Partner</h1>
<div style="margin-top: 5px; margin-bottom: 20px;">
	Please use the tabs below to find out more about the partner site and resources available to you.  If you have any questions, please <a href="./contact-us?type-of-issue=Partnership Questions">contact us.</a><br />
</div>
<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#welcome">Welcome</a></li>
	<li><a data-toggle="tab" href="#partner-calendar">Partner Calendar</a></li>
	<li><a data-toggle="tab" href="#partner-management">Project Management</a></li>
</ul>

{#/**
 *
 * The following code is used to determine if the current user has the role of "manager"
 * On the Welcome tab, users with role:manager get a different block placed in the tab
 *
 */#}
{% set isManager="false" %}
{% for role in user.roles %}
	{% if role == "manager" %}{% set isManager="true" %}{% endif %}
{% endfor %}
<div class="tab-content partner-content">
	<div id="welcome" class="tab-pane fade in active" style="height: 654px;">
		{% if isManager=="true" %}
			{{ drupal_block('partnerhomewelcomemanagereditbutton') }}
			{{ drupal_block('partnerhomewelcomemanager') }}
		{% else %}
			{{ drupal_block('partnerhomewelcome') }}
		{% endif %}
	</div>

	<div id="partner-calendar" class="tab-pane fade" style="height: 654px;">
		{% if isManager=="true" %}
			{{ drupal_block('partnerhomepartnercalendareditbutton') }}
		{% endif %}
		{{ drupal_block('partnerhomepartnercalendar') }}
	</div>
	<div id="partner-management" class="tab-pane fade" style="height: 654px;">
		{% if isManager=="true" %}
			{{ drupal_block('partnerhomepartnermanagementeditbutton') }}
		{% endif %}
		{{ drupal_block('partnerhomepartnermanagement') }}
	</div>
</div>
