{#
/**
 * @file
 * Theme override to display a forum.
 *
 * May contain forum containers as well as forum topics.
 *
 * Available variables:
 * - forums: The forums to display (as processed by forum-list.html.twig).
 * - topics: The topics to display.
 * - topics_pager: The topics pager.
 * - forums_defined: A flag to indicate that the forums are configured.
 *
 * @see template_preprocess_forums()
 */
#}
{% if icrp_debug %}
	<span class="icrp-debug">forums.html.twig</span><br>
	 <script>console.info("forums.html.twig");</script>
	<script>console.log({{ _context | json_encode | raw }});</script>
{% for column in header %}
	{{ column.data }}<br>

{% endfor %}

{% endif %}
<div>
Container or not<br>
{{ attach_library('classy/forum') }}
{% if forums_defined %}
  <div class="forum">
    {{ forums }}
    {{ topics }}
    {{ topics_pager }}
  </div>
{% endif %}

</div>

