{#
/**
 * @file
 * Theme override to display a forum.
 *
 * May contain forum containers as well as forum topics.
 *
 * Available variables:
 * - forums: The forums to display (as processed by forum-list.html.twig).
 * - topics: The topics to display.
 * - topics_pager: The topics pager.
 * - forums_defined: A flag to indicate that the forums are configured.
 *
 * @see template_preprocess_forums()
 */
#}
{% if icrp_debug %}
	<span class="icrp-debug">forums.html.twig</span><br>
	Container or not<br>
	 <script>console.info("forums.html.twig");</script>
	<script>console.log({{ _context | json_encode | raw }});</script>
{% for column in header %}
	{{ column.data }}<br>
{% endfor %}

{% endif %}

{% if tid == '6' %} 
	<h1>{{ tname }}</h1>
{% else %}
	<h1> <i class="fa {{ tfontawesome_icon }} fa-fw forum-topic-icon" title="New Posts available"></i> {{ tname }}</h1>
{% endif %}

<table style="width:100%;margin-bottom:5px;">
	<tbody>
		<tr style="min-height:30px;">
			<td style="padding:3px;">{{ tdescription|raw }}</td>
			<td style="text-align:right;vertical-align:bottom;white-space:nowrap;">
		{% if tid == '6' %} 
				<span class="pull-right" style="font-size:smaller;">{{ last_forum_visit }}</span>
		{% else %}
				<a cdata-drupal-link-system-path="node/add/forum" data-drupal-link-query="{&quot;forum_id&quot;:&quot;{{ tid }}&quot;}" class="btn btn-xs btn-success" href="/node/add/forum?forum_id={{ tid }}">Add new Forum thread</a>
		{% endif %}
			</td>
		</tr>
	</tbody>
</table>

<div>
{{ attach_library('classy/forum') }}
{% if forums_defined %}
  <div class="forum">
    {{ forums }}
    {{ topics }}
    {{ topics_pager }}
  </div>
{% endif %}

</div>

