<h1>Data Upload Completeness</h1>

<div id="loading" class="fullscreen-overlay">
    <div class="text-center">
        <svg version="2.0" class="spinner" width="25" height="25">
            <circle cx="12.5" cy="12.5" r="10" fill="transparent" stroke="#ccc" stroke-width="2.5"/>
            <path fill="transparent" stroke="#666" stroke-width="2.5" d="M 12.5 2.5 a 10 10 0 0 1 10 10"/>
        </svg>
        <br>
        Loading Page
    </div>
</div>

<div id="status"></div>

<p>
    This page gives you an estimate of how complete portfolio data is for any given calendar year to assist you in analysis using data from the ICRP site. Green indicates that the portfolio is complete, Yellow is partially complete, and Grey indicates that the organization has not submitted data for that year (either because it was not a member of ICRP, or was not in existence at that point). For example, if an organization submits data for a new fiscal year running 1 October 2016 – 30 September 2017 to add to previous years’ data, following upload, calendar year 2016 would be marked as complete, and 2017 as partial. The indicator is updated after each new data upload. New organizations are not included in the indicator until their first data upload is completed.
</p>

<div class="table-responsive">
    <table id="upload-completeness" class="dataTable table table-bordered table-striped table-narrow table-nowrap table-condensed">
        <thead>
            <tr>
                {% for column in columns %}
                    <th>{{ column.label }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    {% for column in columns %}
                        {% set key = column.key %}
                        {% set value = record[key] %}
                        <td data-column="{{key}}" data-id="{{record.id}}">
                            {% if key == 'abbreviation' and 'manager' in user.getroles %}
                                <a href="#" class="link" data-funding-organization-id="{{record.id}}">{{value}}
                                    <i class="fas fa-edit"></i>
                                </a>
                            {% elseif key matches '/^\\d+$/' %}
                                <span class="sr-only" data-value>{{value}}</span>
                                <img src="{{ base_path }}/src/Assets/images/{{ value == 0 ? 'red' : value == 1 ? 'yellow' : value == 2 ? 'green' : 'gray'}}-dot.svg" title="{{value == 0 ? 'No Data Uploaded' : value == 1 ? 'Partial Upload' : value == 2 ? 'Upload Completed' : 'No Data Available'}}">
                                </span>
                            {% else %}
                                {{ value }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex flex-wrap">
        <span class="d-flex flex-inline align-items-center mr3">
            <img class="mr1" src="{{ base_path }}/src/Assets/images/green-dot.svg"/>
            Upload Completed
        </span>

        <span class="d-flex flex-inline align-items-center mr3">
            <img class="mr1" src="{{ base_path }}/src/Assets/images/yellow-dot.svg"/>
            Partial Upload
        </span>

        <span class="d-flex flex-inline align-items-center mr3">
            <img class="mr1" src="{{ base_path }}/src/Assets/images/red-dot.svg"/>
            No Data Uploaded
        </span>

        <span class="d-flex flex-inline align-items-center mr3">
            <img class="mr1" src="{{ base_path }}/src/Assets/images/gray-dot.svg"/>
            No Data Available
        </span>
    </div>
</div>

<div style="display: none" id="alert-template">
    <div class="alert alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <span class="alert-content">Hello</span>
    </div>
</div>

{% if 'manager' in user.getroles %}
    <div class="modal fade" id="edit-funding-organization-modal" tabindex="-1" role="dialog" aria-labelledby="edit-funding-organization-modal-label">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-overflow-ellipsis" id="edit-funding-organization-modal-label"></h4>
                </div>
                <div class="modal-body">

                    <p>
                        Click on the color-coded circles to update the Data Upload Completeness status for the calendar year(s) and Save.
                    </p>

                    <form id="edit-funding-organization-form" class="table-responsive">
                        <table class="table table-bordered table-striped table-nowrap table-condensed ma0">
                            <thead>
                                <tr>
                                    {% for column in columns %}
                                        {% if column.key matches '/^\\d+$/' %}
                                            <th class="tc">{{ column.label }}</th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for column in columns %}
                                        {% if column.key matches '/^\\d+$/' %}
                                            <td data-column="{{ column.key }}" class="tc hover-bg-near-white" style="min-width: 150px; border-right: 1px solid #eee;">
                                                <label class="radio-underlined">
                                                    <input name="{{column.key}}" type="radio" value="2" class="upload-radio">
                                                    <span class="radio-underlined-label">
                                                        <img src="{{ base_path }}/src/Assets/images/green-dot.svg"/>
                                                    </span>
                                                </label>

                                                <label class="radio-underlined">
                                                    <input name="{{column.key}}" type="radio" value="1" class="upload-radio">
                                                    <span class="radio-underlined-label">
                                                        <img src="{{ base_path }}/src/Assets/images/yellow-dot.svg"/>

                                                    </span>
                                                </label>

                                                <label class="radio-underlined">
                                                    <input name="{{column.key}}" type="radio" value="0" class="upload-radio">
                                                    <span class="radio-underlined-label">
                                                        <img src="{{ base_path }}/src/Assets/images/red-dot.svg"/>
                                                    </span>
                                                </label>

                                                <label class="radio-underlined">
                                                    <input name="{{column.key}}" type="radio" value="-1" class="upload-radio">
                                                    <span class="radio-underlined-label">
                                                        <img src="{{ base_path }}/src/Assets/images/gray-dot.svg"/>
                                                    </span>
                                                </label>

                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </form>

                    <div class="d-flex flex-wrap mt2">
                        <span class="d-flex flex-inline align-items-center mr3">
                            <img class="mr1" src="{{ base_path }}/src/Assets/images/green-dot.svg"/>
                            Upload Completed
                        </span>

                        <span class="d-flex flex-inline align-items-center mr3">
                            <img class="mr1" src="{{ base_path }}/src/Assets/images/yellow-dot.svg"/>
                            Partial Upload
                        </span>

                        <span class="d-flex flex-inline align-items-center mr3">
                            <img class="mr1" src="{{ base_path }}/src/Assets/images/red-dot.svg"/>
                            No Data Uploaded
                        </span>

                        <span class="d-flex flex-inline align-items-center mr3">
                            <img class="mr1" src="{{ base_path }}/src/Assets/images/gray-dot.svg"/>
                            No Data Available
                        </span>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-submit="data-submit">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
