<h1>Project Funding People Map</h1>
<div class="search-criteria-bar">
  <div>
    <div class="margin-right inline-block" style="transform: rotate(45deg);">◥</div>
    <b>AltAwardCode: </b>{{funding_details[0].alt_award_code}}
  </div>
  <div class="blue-text">Total PIs: {{pi_count}} / Total Collabs: {{(funding_details|length - pi_count)}}</div></div>
<div class="text-right margin-bottom margin-top">
  <a href="/project/funding-details/{{funding_id}}" class="cursor-pointer">View Project Funding Details</a>
</div>
<div id="icrp-map" class="map-container"></div>
<div class="project-collaborators-header">
  <button id="db_people_map_export" class="btn btn-default btn-sm margin-top margin-bottom">
    <div class="display-flex align-items-center">
      <svg width="12px" height="12px" viewBox="0 0 16 16">
        <g stroke="none" stroke-width="1" fill-rule="evenodd" fill="#000000">
          <path d="M4,6 L7,6 L7,0 L9,0 L9,6 L12,6 L8,10 L4,6 L4,6 Z M15,2 L11,2 L11,3 L15,3 L15,11 L1,11 L1,3 L5,3 L5,2 L1,2 C0.45,2 0,2.45 0,3 L0,12 C0,12.55 0.45,13 1,13 L6.34,13 C6.09,13.61 5.48,14.39 4,15 L12,15 C10.52,14.39 9.91,13.61 9.66,13 L15,13 C15.55,13 16,12.55 16,12 L16,3 C16,2.45 15.55,2 15,2 L15,2 Z" id="Shape"></path>
        </g>
      </svg>
      <span class="margin-left">Export</span>
    </div>
  </button>
</div>
{% if funding_details|length > 0 %}
<div class="table-responsive">
  <table class="project-collaborators table table-bordered table-striped table-condensed table-hover table-narrow table-nowrap">
    <thead>
      <tr>
        <th class="limited-width">Name</th>
        <th>Type</th>
        <th>ORC_ID</th>
        <th class="limited-width">Institution</th>
        <th>Region</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      {% for row in funding_details %}
        <tr>
          <td class="limited-width">
              {{ row.pi_name | default('N/A') | raw }}
          </td>
          <td>{% if row.is_pi %}Principal Investigator{% else %}Collaborator{% endif %}</td>
          <td>
              {% if row.pi_orcid %}
                <a href="https://orcid.org/{{ row.pi_orcid }}" target="_blank" title="Visit the collaborators's ORCiD.org profile">
                  <img style="margin: 0 4px" src="https://orcid.org/sites/default/files/images/orcid_16x16.png" alt="ORCiD Logo">
                  {{ row.pi_orcid }}
                </a>
              {% endif %}
          </td>
          <td>{{ row.institution | default('N/A')}}</td>
          <td>{{ row.region | default('N/A') }}</td>
          <td>
              {% if row.city %}
               {{ row.city }}, 
              {% endif %}
              {% if row.state %}
               {{ row.state }}, 
              {% endif %}
              {{ row.country | default('N/A')}}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div><em>This project funding has either no collaborators or the information is not available.</em></div>
{% endif %}
<script>
  var db_people_map = {
        funding_details: {{funding_details|json_encode|raw}}
      },
      db_layer_map = {
        layers: {{layers|json_encode|raw}}
      };
</script>
