{% spaceless %}
{% autoescape true %}
<style type="text/css">
	div.currentp {
		padding: 20px 20px 0px;
	}
	table {
		border: 2px solid #dddddd;
		padding-top:20px;
	}
	.link-panel {
		float: right;
		margin-right: 20px;
	}
	.link-panel a {
		position: relative;
		right: 10px;
		text-decoration: underline;
		top: 5px;
	}
</style>


<!-- Start your code here -->
<div class="scontainer_current_partners">
	<h1>Current Partners</h1>
	<p>ICRP partners represent a wide range of governmental, public and non-profit cancer research funding organizations from across the world. Our membership includes organizations focused on one type of cancer through to health research organizations supporting research into many cancer types.</p>

	<ul>
		<li><b>Partners</b> are full members and provide nominated contact points for ICRP, and vote on any changes to strategic direction or policies.</li>
		<li><b>Associate members</b> are funding organizations who have joined ICRP as part of a consortium. They enjoy full access to the ICRP partner site, can participate in meetings, analyses and networking. Their data submissions are coordinated by the nominated partner.</li>
	</ul>

	<p>Find out more about our partners using the map below.</p>

	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#home_current">Map</a></li>
		<li><a data-toggle="tab" href="#menu1">List of Partners</a></li>
		<span class="link-panel">
			<a class="fundingorg" href="/FundingOrgs">Funding Organizations</a>
			<button id="current_partners_export" class="btn btn-default btn-sm">
				<div>
					<svg width="12px" height="12px" viewBox="0 0 16 16">
						<g stroke="none" stroke-width="1" fill-rule="evenodd" fill="#000000">
							<path d="M4,6 L7,6 L7,0 L9,0 L9,6 L12,6 L8,10 L4,6 L4,6 Z M15,2 L11,2 L11,3 L15,3 L15,11 L1,11 L1,3 L5,3 L5,2 L1,2 C0.45,2 0,2.45 0,3 L0,12 C0,12.55 0.45,13 1,13 L6.34,13 C6.09,13.61 5.48,14.39 4,15 L12,15 C10.52,14.39 9.91,13.61 9.66,13 L15,13 C15.55,13 16,12.55 16,12 L16,3 C16,2.45 15.55,2 15,2 L15,2 Z" id="Shape"></path>
						</g>
					</svg>
					<span class="margin-left">Export Partners</span>
				</div>
			</button>
		</span>
	</ul>

	<div class="tab-content">
		<div class="tab-pane fade in active" id="home_current">
			<p style="padding:20px;"><iframe height="530" src="https://www.google.com/maps/d/u/0/embed?mid=1h2KiS71C4FDBVmIOJu35yzcz7gM&z=2" width="100%"></iframe></p>
		</div>

		<div class="tab-pane fade currentp" id="menu1">
			<table class="table table-striped table-centered-header">
				<thead>
					<tr>
						<th style="white-space: nowrap"
							data-toggle="tooltip"
							data-placement="top"
							title="ICRP member organization. Partners may represent multiple associate organizations"
						>Partner Name</th>

						<th style="white-space: nowrap"
							data-toggle="tooltip"
							data-placement="top"
							title="Abbreviation for the ICRP Partner"
						>Sponsor Code</th>

						<th style="white-space: nowrap"
							data-toggle="tooltip"
							data-placement="top"
							title="Country of the partner organization"
						>Country</th>

						<th style="white-space: nowrap"
							data-toggle="tooltip"
							data-placement="top"
							title="Date of joining ICRP"
						>Join Date</th>

						<th style="white-space: nowrap"
							data-toggle="tooltip"
							data-placement="top"
							title="Description of the goals and activities of the partner"
						>Mission</th>
					</tr>
				</thead>
				<tbody>
					{% for row in current_partners %}
					<tr>
						<td><a href="{{row.website}}">{{row.name}}</a></td>
						<td>{{row.sponsor_code}}</td>
						<td>{{row.country}}</td>
						<td style="white-space: nowrap">{{row.join_date}}</td>
						<td>{{row.description|raw}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- End your code here -->



{% endautoescape %}
{% endspaceless %}
<script type="application/javascript">
	var current_partners_data = {{current_partners|json_encode|raw}};
</script>