{# Main #}
{% block main %}
    <div role="main" class="main-container {{ container }} js-quickedit-main-content" style="padding: 10px 15px">

        <section{{ content_attributes }}>
            <h2>Preview: {{ page['#title'] }}</h2>

            {# Highlighted #}
            {% if page.highlighted %}
                {% block highlighted %}
                    <div class="highlighted">{{ page.highlighted }}</div>
                {% endblock %}
            {% endif %}        

            {# Content #}
            {% block content %}
                <a id="main-content"></a>
                {{ page.content }}
            {% endblock %}
        </section>
    </div>
{% endblock %}