
{% spaceless %}
{% autoescape true %}

<div class="native-font">

{% if funding_details %}
<div class="relative margin-bottom">
<h1 class="h1">{{ page_title }}</h1>
<div id="google_translate_element"></div>
</div>

<hr style="margin: 0">

<dl class="dl-horizontal margin-bottom margin-top">
  <dt>Title</dt>
  <dd>{{ funding_details.project_title | raw }}</dd>
  <dt>Alt. Award Code</dt>
  <dd>{{ funding_details.alt_award_code | default('N/A')}}</dd>
  {% if logged_in %}
    <dt>Source ID</dt>
    <dd>{{ funding_details.source_id | default('N/A') }}</dd>
    <dt>Funding Amount</dt>
    <dd>
      {% if (funding_details.funding_amount) %}
        {{ funding_details.funding_amount | number_format(2, '.', ',') }} ({{funding_details.currency}})
      {% else %}
        N/A
      {% endif %}
    </dd>
  {% endif %}
  <dt>Funding Organization</dt>
  <dd>{{ funding_details.funding_organization | default('N/A') }}</dd>
  {% if logged_in %}
    <dt>Funding Mechanism</dt>
    <dd>
      {% if (funding_details.mechanism_code) %}
        {{ funding_details.mechanism_code }}
        {% if (funding_details.mechanism_title) %}
          - {{ funding_details.mechanism_title }}
        {% endif %}
      {% else %}
        {% if (funding_details.mechanism_title) %}
          {{ funding_details.mechanism_title }}
        {% else %}
          N/A
        {% endif %}
      {% endif %}
    </dd>
  {% endif %}
  <dt>Budget Dates</dt>
  <dd>
    {% if funding_details.budget_start_date or funding_details.budget_end_date %}
      {{ funding_details.budget_start_date | default('N/A') | raw }}
      to {{ funding_details.budget_end_date | default('N/A') | raw }}
    {% else %}
      <i>N/A</i>
    {% endif %}
  <dt>Principal Investigator</dt>
  <dd>
    {{ funding_details.pi_name | default('N/A')}}
    {% if funding_details.pi_orcid %}
      <a href="https://orcid.org/{{ funding_details.pi_orcid }}" target="_blank" title="Visit the primary investigator's ORCiD.org profile">
        <img style="margin: 0 4px" src="https://orcid.org/sites/default/files/images/orcid_16x16.png" alt="ORCiD Logo">
        {{ funding_details.pi_orcid }}
      </a>
      <div style="display: inline-block; margin-left: 4px">
        (ORCiD iD)
      </div>
    {% endif %}
  </dd>
  <dt>Institution</dt>
  <dd>{{ funding_details.institution | default('N/A')}}</dd>
  <dt>Region</dt>
  <dd>{{ funding_details.region | default('N/A') }}</dd>
  <dt>Location</dt>
  <dd>
    {% if funding_details.city %}
     {{ funding_details.city }},
    {% endif %}
    {% if funding_details.state %}
     {{ funding_details.state }},
    {% endif %}
    {{ funding_details.country | default('N/A')}}
  </dd>
</dl>
<hr/>
<div class="project-collaborators-header">
  <h4>Collaborators</h4>
  <span><a class="viewmap" href="/map/people/{{ project_id }}">View People Map</a></span>
</div>
{% if collaborators|length > 0 %}
<div class="table-responsive">
  <table class="project-collaborators table table-bordered table-striped table-condensed table-hover table-narrow table-nowrap">
    <thead>
      <tr>
        <th class="limited-width">Name</th>
        {% if show_orcid %}
          <th>ORC_ID</th>
        {% endif %}
        <th class="limited-width">Institution</th>
        <th>Region</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      {% for row in collaborators %}
        <tr>
          <td class="limited-width">
              {{ row.pi_name | default('N/A') | raw }}
          </td>
          {% if show_orcid %}
            <td>
                {% if row.pi_orcid %}
                  <a href="https://orcid.org/{{ row.pi_orcid }}" target="_blank" title="Visit the collaborators's ORCiD.org profile">
                    <img style="margin: 0 4px" src="https://orcid.org/sites/default/files/images/orcid_16x16.png" alt="ORCiD Logo">
                    {{ row.pi_orcid }}
                  </a>
                {% endif %}
            </td>
          {% endif %}
          <td>{{ row.institution | default('N/A')}}</td>
          <td>{{ row.region | default('N/A') }}</td>
          <td>
              {% if row.city %}
               {{ row.city }},
              {% endif %}
              {% if row.state %}
               {{ row.state }},
              {% endif %}
              {{ row.country | default('N/A')}}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% if collaborators|length > 5 %}
<div class="form-group"><button id="buttonShowAll" class="btn btn-default btn-sm">Show All</button></div>
{% endif %}
{% else %}
<div><em>This project funding has either no collaborators or the information is not available.</em></div>
{% endif %}
<hr/>

{% if funding_details.technical_abstract %}
<h4>Technical Abstract</h4>
<div>{{ funding_details.technical_abstract | raw }}</div>
<hr>
{% endif %}

{% if funding_details.public_abstract %}
<h4>Public Abstract</h4>
<div>{{ funding_details.public_abstract | raw }}</div>
<hr>
{% endif %}

<h4>Cancer Types</h4>
<ul>
  {% for row in cancer_types %}
  <li>
    {{ row.cancer_type }}
  </li>
  {% endfor %}
</ul>

<hr>

<h4>Common Scientific Outline (CSO) Research Areas</h4>
<ul>
  {% for row in cso_research_areas %}
  <li>
    <b>{{ row.cso_code }} {{ row.cso_category }} </b> {{ row.cso_short_name }}
  </li>
  {% endfor %}
</ul>


{% endif %}


</div>

{% endautoescape %}
{% endspaceless %}
