
{% spaceless %}
{% autoescape true %}

<div class="native-font">

{% if funding_details %}
<div class="relative margin-bottom">
<h1 class="h1">{{ page_title }}</h1>
<div id="google_translate_element"></div>
</div>

<hr style="margin: 0">

<dl class="dl-horizontal margin-bottom margin-top">
  <dt>Title</dt>
  <dd>{{ funding_details.project_title | raw }}</dd>
  <dt>Alt. Award Code</dt>
  <dd>{{ funding_details.alt_award_code | default('Not specified')}}</dd>
  <dt>Funding Amount</dt>
  <dd>${{ funding_details.funding_amount ? funding_details.funding_amount.toFixed(2).replace(/([0-9])(?=([0-9]{3})+[^0-9])/g, '$1,') : default('Not specified') }} ({{ funding_details.currency }})</dd>
  <dt>Funding Organization</dt>
  <dd>{{ funding_details.funding_organization | default('Not specified') }}</dd>
  <dt>Funding Mechanism</dt>
  <dd>{{ funding_details.funding_mechanism | default('Not specified') }}</dd>
  <dt>Funding Contact</dt>
  <dd>{{ funding_details.funding_contact | default('Not specified') }}</dd>
  <dt>Budget Dates</dt>
  <dd>
    {% if funding_details.budget_start_date or funding_details.budget_end_date %}
      {{ funding_details.budget_start_date | default('N/A') | raw }}
      to {{ funding_details.budget_end_date | default('N/A') | raw }}
    {% else %}
      <i>Not specified</i>
    {% endif %}
  {% if logged_in %}
    <dt>Funding Amount</dt>
    <dd>{{ funding_details.funding_amount | number_format(2, '.', ',')}} USD</dd>
  {% endif %}
  <dt>Principal Investigator</dt>
  <dd>
    {{ funding_details.pi_name | default('Not specified')}}
    {% if funding_details.pi_orcid %}
      <a href="https://orcid.org/{{ funding_details.pi_orcid }}" target="_blank" title="Visit the primary investigator's ORCiD.org profile">
        <img style="margin: 0 4px" src="https://orcid.org/sites/default/files/images/orcid_16x16.png" alt="ORCiD Logo">
        {{ funding_details.pi_orcid }}
      </a>
      <div style="display: inline-block; margin-left: 4px">
        (ORCiD iD)
      </div>
    {% endif %}
  </dd>
  <dt>Institution</dt>
  <dd>{{ funding_details.institution | default('Not specified')}}</dd>
  <dt>Location</dt>
  <dd>
    {% if funding_details.city %}
     {{ funding_details.city }}, 
    {% endif %}
    {% if funding_details.state %}
     {{ funding_details.state }}, 
    {% endif %}
  {{ funding_details.country | default('Not specified')}}</dd>
</dl>

<hr>

{% if funding_details.technical_abstract %}
<h4>Technical Abstract</h4>
<div>{{ funding_details.technical_abstract | raw }}</div>
<hr>
{% endif %}

{% if funding_details.public_abstract %}
<h4>Public Abstract</h4>
<div>{{ funding_details.public_abstract | raw }}</div>
<hr>
{% endif %}

<h4>Cancer Types</h4>
<ul>
  {% for row in cancer_types %}
  <li>
    {{ row.cancer_type }}
  </li>
  {% endfor %}
</ul>

<hr>

<h4>Common Scientific Outline (CSO) Research Areas</h4>
<ul>
  {% for row in cso_research_areas %}
  <li>
    <b>{{ row.cso_code }} {{ row.cso_category }} </b> {{ row.cso_short_name }}
  </li>
  {% endfor %}
</ul>


{% endif %}


</div>

{% endautoescape %}
{% endspaceless %}
