{% spaceless %}
{% autoescape true %}

{% if project_details %}
<h4>{{ project_details.project_title | raw }}</h4>

<dl class="dl-horizontal margin-bottom">
  <dt>Project Dates</dt>
  <dd>
    {% if project_details.project_start_date or project_details.project_end_date %}
      {{ project_details.project_start_date | default('N/A') | raw }}
      to {{ project_details.project_end_date | default('N/A') | raw }}
    {% else %}
      <i>Not specified</i>
    {% endif %}
  <dt>Funding Mechanism</dt>
  <dd>{{ project_details.funding_mechanism | default('Not specified')}}</dd>
</dl>

<div class="table-responsive margin-top">
  <table class="project-funding-details">
    <thead>
      <tr>
        <th>Award Code</th>
        <th>Funding Organization</th>
        <th>Award Funding Period</th>
        <th>Principal Investigator</th>
        <th>Institution</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      {% for row in project_funding_details %}
        <tr>
          <td>{{ row.alt_award_code | default('Not specified') | raw }}</td>
          <td>{{ row.funding_organization | default('Not specified') | raw }}</td>
          <td>
            {% if row.budget_start_date or row.budget_end_date %}
              {{ row.budget_start_date | default('N/A') | raw }}
              to {{ row.budget_end_date | default('N/A') | raw }}
            {% else %}
              <i>Not specified</i>
            {% endif %}
          </td>
          
          <td>{{ row.pi_last_name ~ ', ' ~ row.pi_first_name }}</td>
          <td>{{ row.institution | default('Not specified') | raw }}</td>
          <td>{{ (row.city ? row.city ~ ', ') ~
                 (row.state ? row.state ~ ', ') ~
                  row.country }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div id="google_translate_element" style="text-align: right"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        

{% if project_details.technical_abstract %}
<h4>Technical Abstract</h4>
<div>{{ project_details.technical_abstract | raw }}</div>
<hr>
{% endif %}

{% if project_details.public_abstract %}
<h4>Public Abstract</h4>
<div>{{ project_details.public_abstract | raw }}</div>
<hr>
{% endif %}

<h5 class="h5">Cancer Types</h5>
<ul>
  {% for row in cancer_types %}
  <li>
    {% if row.cancer_type_url %}
      <a href="{{ row.cancer_type_url }}" target="_blank">{{ row.cancer_type }}</a>
    {% else %}
      {{ row.cancer_type }}
    {% endif %}
  </li>
  {% endfor %}
</ul>

<h5 class="h5">Common Scientific Outline (CSO) Research Areas</h5>
<ul>
  {% for row in cso_research_areas %}
  <li>
    <b>{{ row.cso_code }} {{ row.cso_category }} </b> {{ row.cso_short_name }}
  </li>
  {% endfor %}
</ul>


{% else %}
  <i>No project information found</i>
{% endif %}

{% endautoescape %}
{% endspaceless %}