{% autoescape true %}

{% if project_title[0] %}

<h4>{{ project_title[0] | raw }}</h4>

<dl class="dl-horizontal margin-bottom">
  <dt>Award Code</dt>
  <dd>{{ award_code[0] ?? 'Unavailable' | raw  }}</dd>

  <dt>Project Dates</dt>
  <dd>{{ (project_start_date[0] and project_end_date[0]) 
          ? (project_start_date[0] ~ ' to ' ~ project_end_date[0]) 
          : 'Unavailable' | raw }}</dd>

  <dt>Funding Mechanism</dt>
  <dd>{{ funding_mechanism[0] ?? 'Unavailable' | raw }}</dd>
</dl>


<div class="table-responsive margin-top">
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th>Funding Organization</th>
        <th>Award Funding Period</th>
        <th>Principal Investigator</th>
        <th>Institution</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      {% for f in funding_organization %}
        <tr>
          <td>{{ funding_organization[loop.index0] ?? 'Unavailable' | raw }}</td>
          <td>
              {{ (budget_start_date[loop.index0] and budget_end_date[loop.index0]) 
              ? (budget_start_date[loop.index0] ~ ' to ' ~ budget_end_date[loop.index0]) 
              : 'Unavailable' | raw }}
          </td>
          <td>{{ principal_investigator[loop.index0] ?? 'Unavailable' | raw }}</td>
          <td>{{ institution[loop.index0] ?? 'Unavailable' | raw }}</td>

          <td>{{  (city[loop.index0]    ?? '') ~ (city[loop.index0] ? ', ' : '') ~
                  (state[loop.index0]   ?? '') ~ (state[loop.index0] ? ', ' : '') ~
                  (country[loop.index0] ?? '') }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% if technical_abstract[0] %}
<h4>Technical Abstract</h4>
<div>{{ technical_abstract[0] | raw }}</div>
<hr>
{% endif %}

{% if public_abstract[0] %}
<h4>Public Abstract</h4>
<div>{{ public_abstract[0] | raw }}</div>
<hr>
{% endif %}

<h5 class="h5">Cancer Types</h5>
<ul>
  {% for c in cancer_types %}
  <li>
    {% if c.cancer_type_url %}
      <a href="{{ c.cancer_type_url }}" target="_blank">{{ c.cancer_type }}</a>
    {% else %}
      {{ c.cancer_type }}
    {% endif %}
  </li>
  {% endfor %}
</ul>

<h5 class="h5">Common Scientific Outline (CSO) Research Areas</h5>
<ul>
  {% for c in cso_areas %}
  <li>
    <b>{{ c.cso_code }} {{ c.cso_category }} </b> {{ c.cso_name }}
  </li>
  {% endfor %}
</ul>

{% else %}
  <i>No project information found</i>
{% endif %}

{% endautoescape %}