<h1>Welcome ICRP Partner</h1>
<div style="margin-top: 5px; margin-bottom: 20px;">
	Please use the tabs below to find out more about the partner site and resources available to you.  If you have any questions, please <a href="./contact-us?type-of-issue=Partnership Questions">contact us.</a><br />
</div>
<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#welcome">Welcome</a></li>
	<li><a data-toggle="tab" href="#partner-calendar">Partner Calendar</a></li>
	<li><a data-toggle="tab" href="#partner-management">Project Management</a></li>
</ul>

{#/**
 *
 * The following code is used to determine if the current user has the role of "manager"
 * On the Welcome tab, users with role:manager get a different block placed in the tab
 *
 */#}
{% set isManager="false" %}
{% for role in user.roles %}
	{% if (role == "manager") or (role == "administrator") %}{% set isManager="true" %}{% endif %}
{% endfor %}
<div class="tab-content partner-content">
	<div id="welcome" class="tab-pane fade in active">
	{# Old Code.  Rewrote to use partnerhomewelcome for both
		{% if isManager=="true" %}
			{{ drupal_entity('block', 'bartik_powered') }}
			{{ drupal_entity('block', 'partnerhomewelcomemanagereditbutton') }}
			{{ drupal_entity('block', 'partnerhomewelcomemanager') }}
		{% else %}
			{{ drupal_entity('block', 'partnerhomewelcome') }}
		{% endif %}
		#}
		{{ drupal_entity('block', 'partnerhomewelcome') }}
		{% if isManager=="true" %}
			{{ drupal_entity('block', 'partnerhomewelcomemanager') }}
		{% endif %}

	</div>

	<div id="partner-calendar" class="tab-pane fade">
		{% if isManager=="true" %}
			{{ drupal_entity('block', 'partnerhomepartnercalendareditbutton') }}
		{% endif %}
		{{ drupal_entity('block', 'partnerhomepartnercalendar') }}
	</div>
	<div id="partner-management" class="tab-pane fade">
		{% if isManager=="true" %}
			{{ drupal_entity('block', 'partnerhomepartnermanagementeditbutton') }}
		{% endif %}
		{{ drupal_entity('block', 'partnerhomepartnermanagement') }}
	</div>
</div>