<!-- @TODO: Make ID unique -->
<div id="views-bootstrap-accordion" {{ attributes.addClass(classes) }}>
  {% for key, row in rows -%}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle"
             data-toggle="collapse"
             data-parent="#views-bootstrap-accordion"
             href="#collapse-{{key}}">
            {{row.title}}
          </a>
        </h4>
      </div>

      <div id="collapse-{{key}}" class="panel-collapse collapse">
        <div class="panel-body">
          {{row.content}}
        </div>
      </div>
    </div>
  {%- endfor %}
</div>
